<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Application Example</title>
</head>
<body>
<h1> Book List</h1>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <th th:text="${book.id}">123</th>
        <th th:text="${book.title}">spring in action</th>
        <th th:text="${book.publisher.city}">wow</th>
    </tr>
</table>

</body>
</html>